%h1 Produkty
%button.btn.btn-success{type: 'button'}
  = link_to new_admin_product_path do
    %span.fa.fa-plus Dodaj nowy produkt
.search-form
  = search_form_for [:admin, @q] do |f|
    = f.text_field :name_or_description_or_long_description_cont, placeholder: 'Szukaj tekstu'
    = f.text_field :price_gt, placeholder: 'Cena'
    = f.submit 'Szukaj'
%table.table.table-stripped
  %thead
    %tr
      %th
        = sort_link(@q, :name, 'Nazwa')
      %th
        = sort_link(@q, :price, 'Cena')
      %th Kategoria
  %tbody
    - @products.each do |product|
      %tr
        %td
          = product.name
        %td
          = number_to_currency product.price
        %td
          = product.category.name
        %td
          .btn.btn-default.btn-xs
            = link_to 'Edycja', edit_admin_product_path(product)
= paginate @products