- products.each_slice(3) do |slice|
    %p.row
        - slice.each do |product|
            .col-md-4
                .img-thumbnail
                    = link_to product_path(1) do
                        = image_tag product.photo.url(:thumb)
                    .card-body
                        %h3.card-title
                            = link_to product.name, product
                        %p.card-text
                            = simple_format(truncate(product.description, length: 50))
                        %p.lead.card-text
                            = number_to_currency product.price
                        %p
                            = link_to "#", class: 'btn btn-primary' do
                                %span.fa.fa-shopping-cart Dodaj do koszyka