!!!
%html
  %head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Robo
  %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{href: admin_products_path} RoboShop::Admin
          %ul.nav.navbar-nav
            %li{ :class => ("active" if current_page?(controller: 'admin/products')) }
              = link_to 'Produkty', admin_products_path
            %li{ :class => ("active" if current_page?(controller: 'admin/categories')) }
              = link_to 'Kategorie', admin_categories_path
    .container-fluid
      = yield