!!!
%html
  %head
  %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Robo
  %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{href: root_path} Robo
          %ul.nav.navbar-nav
            %li{ :class => ("active" if current_page?(controller: 'products', action: 'index')) }
              = link_to 'Start', root_path
            %li{ :class => ("active" if current_page?(controller: 'static', action: 'privacy')) }
              = link_to 'Polityka prywatności', privacy_path
            %li{ :class => ("active" if current_page?(controller: 'static', action: 'terms')) }
              = link_to 'Regulamin', terms_path
            %li{ :class => ("active" if current_page?(controller: 'static', action: 'shipping')) }
              = link_to 'Dostawa', shipping_path
            %li{ :class => ("active" if current_page?(controller: 'static', action: 'about')) }
              = link_to 'O nas', about_path
    .container-fluid
      .row
        .col-md-2
          %h3 Kategorie
          %ul.nav.nav-sidebar
            - Category.all.each do |category|
              %li{ :class => ("active" if @category == category) }
                = link_to category.name, category_path(category)
        .col-md-10
          = yield